diffrax==0.7.2
equinox==0.13.8
h5py==3.16.0
jax==0.11.2
jaxlib==0.11.2
jaxtyping==0.3.11
lineax==0.1.1
ml_dtypes==0.6.0
numpy==2.5.3
opt_einsum==3.4.0
optimistix==0.1.0
pandas==3.0.6
python-dateutil==2.9.0.post0
PyYAML==6.0.3
scipy==1.18.1
six==1.17.0
typing_extensions==4.16.0
tzdata==2026.4
wadler_lindig==0.1.7
